* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Cormorant Unicase, Static;
    font-size: 16px ;
    line-height: 1-7;
    color:#726834;
    background-color: #2C2E0B
}

h1, h1, h3, .logo {
    font-family: Uncial Antiqua, Static;
    font-weight: 700px ;
    color: #F6A515
}

